In [1]:
# Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [2]:
# set up path for splinter
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# set url and visit using splinter
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(1)

In [4]:
# extract the news title and paragraph from first url
html = browser.html
soup = bs(html, "html.parser")

#find the title and paragraph text from the website
news_title = soup.find('div', class_="content_title").get_text()
news_p = soup.find('div', class_="article_teaser_body").get_text()
    
print (news_title)
print (news_p)

NASA 'Optometrists' Verify Mars 2020 Rover's 20/20 Vision
Mars 2020 rover underwent an eye exam after several cameras were installed on the rover.

In [60]:
# set url and visit using splinter
img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(img_url)
time.sleep(1)

In [82]:
html = browser.html
img_soup = bs(html, "html.parser")

# find background-img url and clean up url
featured_image_url = img_soup.find('article')['style']
cleaned_url = featured_image_url.replace('background-image: url(','').replace('(','').replace(');','')[1:-1]

# use base url and cleaned up url to get the featured image
base_url = "jpl.nasa.gov"
featured_image_url = base_url + cleaned_url

print(featured_image_url)

jpl.nasa.gov/spaceimages/images/wallpaper/PIA19808-1920x1200.jpg

In [7]:
# set new url and visit twitter 
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)
time.sleep(1)

In [8]:
html = browser.html
tweet_soup = bs(html, "html.parser")

# select everything from the tweet section
timeline = tweet_soup.select('#timeline div.js-actionable-tweet')

for tweet in timeline:
    # select the tweet id 
    tweet_id = tweet['data-screen-name']
    # confirm that the correct account tweeted and get the text 
    if tweet_id == "MarsWxReport":
        tweet_text = tweet.select('p.tweet-text')[0].get_text()
        mars_weather = tweet_text
        break

# confirm above code worked appropriately
print(mars_weather)

InSight sol 233 (2019-07-23) low -98.8ºC (-145.9ºF) high -25.7ºC (-14.2ºF)
winds from the SE at 4.6 m/s (10.2 mph) gusting to 16.2 m/s (36.2 mph)
pressure at 7.60 hPapic.twitter.com/ksOXPg28yb

In [9]:
# set url for facts
facts_url = "https://space-facts.com/mars/"

In [10]:
# extract table from website using pandas
table = pd.read_html(facts_url)
table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
# convert table into a dataframe
df = pd.DataFrame(table[0])
df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [12]:
# convert dataframe to html 
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [42]:
# initialize visit to astrogeology
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemi_url)
html = browser.html
hemi_soup = bs(html, "html.parser")

# select all product items
products = hemi_soup.find_all('div', class_='item')

# identify base url to be used to build out additional links
base_url = "https://astrogeology.usgs.gov"

# set a list of enhanced image urls
hemisphere_image_urls = []

# iterate through products to visit their urls and get image links
for i in products:
    # collect titles and urls for enhanced images 
    titles = i.find('h3').get_text()
    url = i.find('a', class_="itemLink product-item")['href']
    # visit each url
    browser.visit(base_url + url)
    time.sleep(1)
    html = browser.html
    hemi_soup = bs(html, "html.parser")
    # get url for enhanced image
    enhanced_url = hemi_soup.find('img',class_='wide-image')['src']
    # store titles and urls to list 
    hemisphere_image_urls.append(
        {"title":titles,
         "img_url":base_url + enhanced_url}
    )
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]